//variables
$color-map-selected: #0DC2ED;
$color-map-unselected: #699EAA;


//map styles
.map-selected {
  fill: $color-map-selected;
    &:hover {
    cursor: pointer;
  }
}

.map-unselected {
  fill: $color-map-unselected;
    &:hover {
    cursor: pointer;
  }
}
